matplotlib==3.9.3
numpy==2.2.0
opencv_python==4.10.0.84
packaging==24.2
Pillow==11.0.0
pybind11==2.13.4
PyYAML==6.0.2
scikit_learn==1.6.0
scipy==1.14.1
torch==2.1.0
torchvision==0.16.0
tqdm==4.65.2
utiles==0.6.1
